@import "@fontsource/poppins";

body {
  --base: #fcfaea;
  --dark: #3d405b;

  /* colors made with https://colorkit.co/color-palette-generator/ */
  --primary-50: #f6f6f6;
  --primary-100: #e7e7e7;
  --primary-200: #d1d1d1;
  --primary-300: #b0b0b0;
  --primary-400: #888888;
  --primary-500: #6d6d6d;
  --primary-600: #5d5d5d;
  --primary-700: #4f4f4f;
  --primary-800: #454545;
  --primary-900: #3d3d3d;
  --primary-950: #131313;

  --secondary-50: #fefce8;
  --secondary-100: #fff9c2;
  --secondary-200: #fff187;
  --secondary-300: #ffe143;
  --secondary-400: #ffca05;
  --secondary-500: #efb303;
  --secondary-600: #ce8a00;
  --secondary-700: #a46104;
  --secondary-800: #884c0b;
  --secondary-900: #733e10;
  --secondary-950: #431f05;

  --secondary: var(--secondary-400);
  --primary: var(--primary-950);

  font-family: Poppins;
  font-weight: 500;
  color: var(--primary-950);
}
